
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form method="post" action="/Tweets/Create"> 
    <textarea class="form-control" placeholder="Please enter your "></textarea>
    <hr />
    <input type="submit" class="btn btn-primary"/>
</form>
